html{
    background: url(../Images/BackGround-Login.jpg);
    background-size: cover;
    font-family: Verdana;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

p{
    margin: 5px;
}

h1{
    padding-top: 20px;
    font-size: 40px;
    text-align: center;
}




body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-border{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 600px;
    border-radius: 30px;
    background: #ed724c;
    background: linear-gradient(90deg,rgb(50, 195, 221) 0%, rgba(255, 119, 56, 0.774) 50%, rgb(10, 6, 34) 94%);
    opacity: 0.8;
    box-shadow: rgba(255, 255, 255, 0.658) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.login-menu{
    display: grid;
    width: 400px;
    height: auto;
    display: inline;
    justify-content: center;

}



.info-part{
    display: grid;
    place-items: center; 
    height: 200px;
    padding-top: 5px;
    
}



.input-bar{
    width: 250px;
    height: 30px;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.678) 0px 4px 12px;
    padding-left: 20px;
    font-family: Verdana;
}

.input-bar:checked{
    border: 2px solid red;
    background-color: #ffe6e6;
}

.login-button{
    margin-top: 30px;
    border: 2px;
    border-radius: 30px;
    color: aliceblue;
    background-color: #14a9ff;
    height: 40px;
    width: 150px;
    cursor: pointer;
    transition: 0.5s;
}


.login-button:hover{
   
    background-color: #7bceff;
    color: #000;
    height: 50px;
    width: 160px;
}


.bottom-row{
    display: flex;
    bottom: 0;
    position: absolute;
    width: 220px;
    height: 80px;
    justify-content: space-between;
}


.user-image{
    margin-top: 0;
    width: 120px;
}


.my-socials{
    opacity: 0.7;
    width: 50px;
    height: 50px;
    transition: 0.5s;
    cursor: pointer;

}




.my-socials:hover{
    width: 70px;
    height: 70px;
    padding: 5px;
    padding-bottom: 0 ;

}

